# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/

# Firebase
google-services.json
GoogleService-Info.plist
lib/firebase_options.dart
firebase.json

# iOS
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/app/google-services.json
android/.gradle/
android/local.properties
android/captures/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/

# Env
.env
*.env

# OS
.DS_Store
Thumbs.db
